# Environment variables
.env
config.json
users.json

# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Uploads and temp files
uploads/

temp/

passenger_wsgi.py
passenger_wsgi.py
public/
stderr.log
tmp/
users.json